# Clever: https://stackoverflow.com/questions/21266948/use-git-to-manage-home-directory

# Ignore everything
*

# But not these files...
!.gnupg
!.vimrc
!.vim/
!.zshrc
!.zshenv
!.gitignore
!.gitconfig
!.xkb/
!.Xdefaults
!.hgrc
!.bash_profile
!.bashrc
!.config/awesome/
